body{
    margin: 0px;
    padding: 0px;
   

}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}
#btn{
    padding: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
   
    
}
#btn:hover{
    transform: scaleY(1.2);    
    transform-origin: bottom;
    transition: transform 0.5s ease-in-out 0s;
    background-color: black;
    color: white;
    animation: glow 1s 0s 1 normal  ;
   
    animation-timeline: view;

}
@keyframes glow{
    50%{ box-shadow: 0px 0px 10px blue;}
}